@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background:#246A73;
}
.wrapper{
  width: 380px;
  background-color: #fff;
  border-radius: 5px;
}
.wrapper .title{
    line-height: 80px;
    background: #368F8B;
    text-align: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  
.wrapper form{
    padding: 30px 25px 25px 25px;
  
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius:5px ;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: #368F8B;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background:#368F8B ;
    border: 1px solid #368F8B;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin:-10px 0 15px 0;
  }
  .wrapper form .pass a{
    color:#368F8B ;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
    color: #246A73;
  }
  .wrapper form .button input{
    padding-left: 0;
    background: #368F8B;
    border: 1px solid #368F8B;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
  form .button input:hover{
    background: #246A73;
  }
  .wrapper form .signup{
   text-align: center;
   margin-top: 20px;
   font-size: 17px;
  }
  .wrapper form .signup a{
    color:#368F8B ;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .signup a:hover{
    text-decoration: underline;
    color: #246A73;
  }